body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 900;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  color: #fff;
  background-color: #ea2c62;
}

.white-section {
  background-color: #fff;
}

#title {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */

.navbar {
  margin-bottom: 4.5rem;
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */

.upper-download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
  position: absolute;
  top: 10%;
  right: 20%;
  width: 60%;
  transform: rotate(10deg);
}

/* Features */

.features-container {
  position: relative;
  padding: 12% 7.5%;
  background-color: #fff;
  /* need for Z-index */
}

.features-icon {
  margin-bottom: 1rem;
  color: #ef8172;
  font-size: 2.5rem;
}

.features-icon:hover {
  color: #ff4c68;
}

.feature-heading {
  font-size: 1.5rem;
}

.feature-line {
  width: 250px;
  margin: 0.75rem auto;
  color: #8f8f8f;
}

/* Testimonials */

#testimonials {
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 17.5%;
  margin: 20px;
  border-radius: 100%;
}

/* Press */

#press {
  padding-bottom: 5%;
  text-align: center;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.card-heading {
  margin: auto;
  font-size: 1.5rem;
}

/* Call to Action */

#cta {
  padding: 8% 15% 10%;
}

.cta-col {
  margin: auto;
  padding: 0;
}

.lower-download-btn {
  margin: 5% 3% 5%;
}

/* Footer */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-img {
  margin: auto 5px;
}

.footer-para {
  width: 250px;
  margin: 0.75rem auto;
  color: #8f8f8f;
}

@media (max-width: 1028px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
